build/index.html

<html>
  <head>
    <title>Test task (Roman Fedoruk)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="style/main.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <main class="center-layer">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 offset-lg-3 col-md-8 offset-md-4 col-sm-12">
            <h3>Заполните форму</h3>
          </div>
        </div>
        <div class="row">
          <aside class="col-lg-3 col-md-4 col-sm-12">
            <h4>Важно помнить:</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
          </aside>
          <section class="col-lg-9 col-md-8 col-sm-12">
            <div class="title">
              <h5>Общая информация</h5>
            </div>
            <form>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="last-name" class="sm-title">Фамилия</label>
                    <input type="text" id="last-name" class="form-control validate error"/>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="name" class="sm-title">Имя</label>
                    <input type="text" id="name" class="form-control validate error"/>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="form-group">
                    <label for="surname" class="sm-title">Отчество</label>
                    <input type="text" id="surname" class="form-control validate error"/>
                  </div>
                </div>
              </div>
              <div class="row align-items-end">
                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                  <div class="custom-radio">
                    <h6 class="sm-title">Меняли фамилию?</h6>
                    <div class="radio">
                      <input type="radio" name="last-name-check" id="check-last-name-1"/>
                      <label for="check-last-name-1">Да</label>
                    </div>
                    <div class="radio">
                      <input type="radio" name="last-name-check" id="check-last-name-2"/>
                      <label for="check-last-name-2" checked="checked">Нет</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                  <div class="custom-radio">
                    <h6 class="sm-title">Пол</h6>
                    <div class="radio">
                      <input type="radio" name="gender" id="gender-1"/>
                      <label for="gender-1">Муж</label>
                    </div>
                    <div class="radio">
                      <input type="radio" name="gender" id="gender-2"/>
                      <label for="gender-2" checked="checked">Жен</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="form-group">
                    <label for="select" class="sm-title">Семейное положение</label>
                    <select id="select" class="form-control">
                      <option>Женат/Замужем</option>
                      <option>Женат</option>
                      <option>Замужем</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-lg-4 col-md-4">
                  <h3>Статус</h3>
                </div>
                <div class="col-lg-8 col-md-8">
                  <div class="progress">
                    <div id="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" class="progress-bar customize-progress">
                      <div class="overlay"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="form-group">
                    <input type="text" id="just-number" class="form-control"/>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="form-group">
                    <input type="button" value="Click me!" id="set-progress" class="btn btn-primary"/>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="progress">
                    <div id="number-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" class="progress-bar bg-danger">0</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <input type="button" value="button says boo" id="show-resume" class="custom-btn"/>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </main>
    <div class="overflow"></div>
    <div class="popup">
      <div class="close">Close</div>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Name:</td>
            <td>Fedoruk Roman</td>
          </tr>
          <tr>
            <td>Birthday:</td>
            <td>30/11/1993</td>
          </tr>
          <tr>
            <td>Country:</td>
            <td>Ukraine</td>
          </tr>
          <tr>
            <td>Region:</td>
            <td>Ivano-Frankivsk</td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>+380966555663</td>
          </tr>
          <tr>
            <td>E-mail:</td>
            <td>chupiknarik@gmail.com</td>
          </tr>
          <tr>
            <td>Telegram</td>
            <td>@chupuknarik</td>
          </tr>
        </tbody>
      </table>
      <h2>Frontend developer</h2>
      <h3>Skills</h3><b>High level:</b>
      <p><b>Frameworks:</b>Bootstrap 3, Bootstrap 4, Foundation, MaterializeCSS</p>
      <p><b>Preprocessors:</b>LESS, SASS, SCSS, Jade (Pug)</p>
      <p><b>Build system:</b>Gulp, Webpack, Grunt</p>
      <p>Responsive and adaptive markup</p>
      <p>Knowledge and understanding UI/UX</p>
      <p>Photoshop, Adobe Illustrator, Zepline</p>
      <p>Version control system: Git, Bitbucket</p><b>Middle level:</b>
      <p>PHP, AJAX, MySQL, VueJS (Vuetify, Veux, LocalStorage), NodeJS (Express, MongoDB, API)</p>
      <h3>Experiences</h3>
      <p>Four years work freelance (my profile https://freelancehunt.com/freelancer/elimS.html)</p>
      <h3>Education</h3>
      <p><b>Bukovinian University</b>(Ukraine, city Chernovtsy) Computer system and technology</p>
      <h3>Language</h3>
      <p><b>English language</b> – low level</p>
      <p><b>Russian language</b> - high level</p>
      <p><b>Ukrainian language</b> – high level</p>
      <h3>Latest Projects:</h3>
      <p><a href="http://chopbots.ru" target="_blank">http://chopbots.ru</a></p>
      <p><a href="http://5x5school.ru/" target="_blank">http://5x5school.ru/</a></p>
      <p><a href="http://alex-kitchen.ru" target="_blank">http://alex-kitchen.ru</a></p>
      <p><a href="http://pelle24.ru" target="_blank">http://pelle24.ru</a></p>
      <p><a href="http://neftnorthamerica.com" target="_blank">http://neftnorthamerica.com</a></p>
    </div>
  </body>
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</html>

source/jade/index.jade
html
    head
        title Test task (Roman Fedoruk)
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        link(rel="stylesheet", type="text/css", href="style/main.css")
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    body
        main.center-layer
            .container
                .row
                    .col-lg-9.offset-lg-3.col-md-8.offset-md-4.col-sm-12
                        h3 Заполните форму
                .row
                    aside.col-lg-3.col-md-4.col-sm-12
                        h4 Важно помнить:
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?

                    section.col-lg-9.col-md-8.col-sm-12
                        .title
                            h5 Общая информация
                        form
                            .row
                                .col-lg-4.col-md-4.col-sm-6
                                    .form-group
                                        label(for="last-name").sm-title Фамилия
                                        input(type="text").form-control.validate.error#last-name

                                .col-lg-4.col-md-4.col-sm-6
                                    .form-group
                                        label(for="name").sm-title Имя
                                        input(type="text").form-control.validate.error#name

                                .col-lg-4.col-md-4.col-sm-12
                                    .form-group
                                        label(for="surname").sm-title Отчество
                                        input(type="text").form-control.validate.error#surname

                            .row.align-items-end
                                .col-lg-4.col-md-4.col-sm-6.col-6
                                    .custom-radio
                                        h6.sm-title Меняли фамилию?
                                        .radio
                                            input(type="radio", name="last-name-check")#check-last-name-1
                                            label(for="check-last-name-1") Да
                                        .radio
                                            input(type="radio", name="last-name-check")#check-last-name-2
                                            label(for="check-last-name-2", checked) Нет
                                .col-lg-4.col-md-4.col-sm-6.col-6
                                    .custom-radio
                                        h6.sm-title Пол
                                        .radio
                                            input(type="radio", name="gender")#gender-1
                                            label(for="gender-1") Муж
                                        .radio
                                            input(type="radio", name="gender")#gender-2
                                            label(for="gender-2", checked="checked") Жен
                                .col-lg-4.col-md-4.col-sm-12
                                    .form-group
                                        label(for="select").sm-title Семейное положение
                                        select.form-control#select
                                            option Женат/Замужем
                                            option Женат
                                            option Замужем

                            .row.align-items-center
                                .col-lg-4.col-md-4
                                    h3 Статус
                                .col-lg-8.col-md-8
                                    .progress
                                        .progress-bar.customize-progress#progress(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0%;")
                                            .overlay

                            .row.align-items-center
                                .col-lg-3.col-md-3.col-sm-6
                                    .form-group
                                        input(type="text").form-control#just-number
                                .col-lg-3.col-md-3.col-sm-6
                                    .form-group
                                        input(type="button", value="Click me!").btn.btn-primary#set-progress

                                .col-lg-6.col-md-6.col-sm-12
                                    .progress
                                        .progress-bar.bg-danger#number-progress(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0%;") 0
                            .row
                                .col-lg-4.col-md-4.col-sm-12
                                    input(type="button", value="button says boo").custom-btn#show-resume

        .overflow
        .popup
            .close Close
            table.table.table-striped
                tbody
                    tr
                        td Name:
                        td Fedoruk Roman
                    tr
                        td Birthday:
                        td 30/11/1993
                    tr
                        td Country:
                        td Ukraine
                    tr
                        td Region:
                        td Ivano-Frankivsk
                    tr
                        td Phone:
                        td +380966555663
                    tr
                        td E-mail:
                        td chupiknarik@gmail.com
                    tr
                        td Telegram
                        td @chupuknarik

            h2 Frontend developer
            h3 Skills
            b High level:
            p
                b Frameworks:
                | Bootstrap 3, Bootstrap 4, Foundation, MaterializeCSS
            p
                b Preprocessors:
                | LESS, SASS, SCSS, Jade (Pug)
            p
                b Build system:
                | Gulp, Webpack, Grunt
            p Responsive and adaptive markup
            p Knowledge and understanding UI/UX
            p Photoshop, Adobe Illustrator, Zepline
            p Version control system: Git, Bitbucket

            b Middle level:
            p PHP, AJAX, MySQL, VueJS (Vuetify, Veux, LocalStorage), NodeJS (Express, MongoDB, API)

            h3 Experiences
            p Four years work freelance (my profile https://freelancehunt.com/freelancer/elimS.html)

            h3 Education
            p
                b Bukovinian University
                | (Ukraine, city Chernovtsy) Computer system and technology

            h3 Language
            p
                b English language
                |  – low level
            p
                b Russian language
                |  - high level
            p
                b Ukrainian language
                |  – high level

            h3 Latest Projects:
            p
                a(href="http://chopbots.ru", target="_blank") http://chopbots.ru
            p
                a(href="http://5x5school.ru/", target="_blank") http://5x5school.ru/
            p
                a(href="http://alex-kitchen.ru", target="_blank") http://alex-kitchen.ru
            p
                a(href="http://pelle24.ru", target="_blank") http://pelle24.ru
            p
                a(href="http://neftnorthamerica.com", target="_blank") http://neftnorthamerica.com

    script(type="text/javascript", src="js/jquery-3.3.1.min.js")
    script(type="text/javascript", src="js/script.js")
